@font-face {
    font-family: "Gerbil";
    src: url("/fonts/gerbil.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
